
Stage{
	-fx-background-color:#FF5F0F;
	
}



VBox {
    -fx-spacing: 30;
    -fx-padding: 20;
    -fx-border-radius:25;
	-fx-background-color:#FF5F0F;
	
    
}

Pane{
	
	
}


.button {
    -fx-font: 24 "fantasy";
    -fx-padding: 15;
    -fx-background-color: #D5FA52;
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-background-radius: 15px;
   
   
    
    
}


Text {
	
	-fx-font: 18 "serif";
	
	-fx-margin-bottom:100;
    -fx-color: #D5FA52;
    -fx-background-insets: 5px;
	
}